* {
    margin: 0;
    font-family: 'Secular One', sans-serif; 
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    color:black;
    background-color: yellow;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
 
}
article {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    width: 800px;
    align-items: center;

}
.inputFields {
    display: flex;
    margin: 1rem;
}
h3 {
    margin: 0.5rem;
}
h4 {
    display: flex;
    width: 400px;
    border: 1px solid rgb(54, 54, 54);
    margin: auto;
}
p {
    margin: 0.5rem;
}
input {
    border-radius: 10px;
    margin: 1rem;
    height: 30px;
    text-align: center;
}
.addShow {
    display: flex;
}
button {
    margin: 1rem;
    height: 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all ease 0.1s;
}
button:active {
    box-shadow: 0 5px rgb(43, 43, 43);
    transform: translateY(3px);
  }
.return {
    display: flex;
    justify-content: center;
}
#backBtn {
    display: none;
}
.queryEl {
    display: flex;
    justify-content: center;
}
#addFav {
    background-color: yellow;
    font-weight: 600;
    height: 40PX;
}

#showFav {
    background-color: yellow;
    font-weight: 600;
    height: 40px;
}
.removeFavBtn {
    background-color: yellow;
    font-weight: 600;
    text-align: center;
    justify-content: center;;
    margin: 0.3rem;
   }
.queryFav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.qContainer {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 850px) {

.inputFields {
    flex-direction: column;
}
h4 {
    width: 50%;
}
#addFav {
    margin: 0.2rem;
}
#showFav {
    margin: 0.2rem;
}
#query {
    margin-right: 0.2rem;
}
#queryBtn {
    margin-left: 0.2rem;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 50%;
}
}

